a {
  text-decoration: none;
  color: black;
}

.pokemon-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border-radius: 4px;
  width: 200px;
  height: 320px;

  &:hover {
    cursor: pointer;
  }

  & img {
    width: 200px;
    height: 200px;
  }

  & ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  & li {
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
  }

  & li:first-child {
    margin-right: 8px;
  }

  & li.normal {
    background-color: #A8A77A;
  }

  & li.fire {
    background-color: #EE8130;
  }

  & li.water {
    background-color: #6390F0;
  }

  & li.electric {
    background-color: #F7D02C;
  }

  & li.grass {
    background-color: #7AC74C;
  }

  & li.ice {
    background-color: #96D9D6;
  }

  & li.fighting {
    background-color: #C22E28;
  }

  & li.poison {
    background-color: #A33EA1;
  }

  & li.ground {
    background-color: #E2BF65;
  }

  & li.flying {
    background-color: #A98FF3;
  }

  & li.psychic {
    background-color: #F95587;
  }

  & li.bug {
    background-color: #A6B91A;
  }

  & li.rock {
    background-color: #B6A136;
  }

  & li.ghost {
    background-color: #735797;
  }

  & li.dragon {
    background-color: #6F35FC;
  }

  & li.dark {
    background-color: #705746;
  }

  & li.steel {
    background-color: #B7B7CE;
  }

  & li.fairy {
    background-color: #D685AD;
  }
}

