a {
  text-decoration: none;
  color: black;
}

.pokemon-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border-radius: 4px;
  width: 200px;
  height: 320px;

  &:hover {
    cursor: pointer;
  }

  & img {
    width: 200px;
    height: 200px;
  }

  & ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  & li {
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
  }

  & li:first-child {
    margin-right: 8px;
  }
}

