<section>
  <!-- LO: [Angular] Component -->
  <pokemon-hero [pokemon]="pokemon"></pokemon-hero>
  <div class="pokemon-stats">
    <h1>Base Stats</h1>
    <dl>
      <!-- LO: [Angular] Structural Directive -->
      <ng-template ngFor let-stat [ngForOf]="pokemon.stats">
        <!-- LO: [Angular] Pipe -->
        <dt>{{ stat.stat.name | uppercase }}</dt>
        <dd>
          <progress max="300" value="{{ stat.base_stat }}"></progress>
        </dd>
      </ng-template>
    </dl>
  </div>
</section>
