section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// LO: Styling
pokemon-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemon-stats {
  margin-left: 8px;
  background-color: lightgray;
  border-radius: 4px;
  width: 200px;
  height: 320px;
  cursor: pointer;

  & h1 {
    text-align: center;
  }

  & dl {
    padding: 0 16px;
  }

  & dt {
    font-size: 12px;
  }

  & dd {
    margin: 0 0 8px;
  }

  progress {
    height: 16px;
    width: 100%;
  }
}
